body {
  background-color: #8691b7;
  font-family: "Manrope", sans-serif;
}

h4 {
  font-weight: 600;
  font-size: 20px;
  color: #ec6e4c;
}
form {
  text-align: center;
}

button {
  margin: 10px;
  background-color: #b3b6ee;
  border-radius: 5px;
}

ul {
  list-style: none;
}
.container {
  display: flex;
}
.next-days {
  border: solid 1px #7c7877;
  border-radius: 4px;
  box-sizing: 10px;
  padding: 5px 20px;
  margin: 5px 0px;
  text-align: center;
  color: gray;
  background: linear-gradient(
    109.6deg,
    rgb(223, 234, 247) 11.2%,
    rgb(174, 206, 238) 91.1%
  );
  transition: all 150ms ease-in-out;
}

.city {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 10px;
  text-transform: capitalize;
}
.loaded {
  background-color: skyblue;
  border: 1px solid blue;
  border-radius: 5px;
}

.code-link {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  color: gray;
}
